<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calculadora </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="low-bar">
    <div class="menu">
        <ion-icon name="reorder-three-outline"></ion-icon>
      <span>Padrão</span>
    </div>
    <div class="historic">
        <ion-icon name="timer-outline"></ion-icon>
    </div>
  </div>
  <div class="resultado">
    <p>0</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button expand="full" disabled>MC</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" disabled>MR</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" >M+</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" >M-</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" >MS</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" disabled>M<sup>▾</sup></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">√</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">X<sup>2</sup></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">⅟<sub>x</sub></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"
          ><ion-icon name="backspace-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">÷</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="number" expand="full">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="number" expand="full">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="number" expand="full">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">×</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="number" expand="full">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="number" expand="full">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="number" expand="full">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  expand="full">-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="number" expand="full">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="number" expand="full">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="number" expand="full">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">+</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">±</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="number" expand="full">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">=</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
