<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label> Operação </ion-label>
  <ion-item>
    <ion-input placeholder="Resultado" disabled></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full">MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">MR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">M+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">M-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">MS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">M<sup>▾</sup></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">√</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">X<sup>2</sup></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">⅟<sub>x</sub></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"
          ><ion-icon name="close-circle"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">÷</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">×</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">+</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">±</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">=</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
